body {
    padding-top: 30px; /* 네비게이션 바의 높이만큼 패딩을 추가 */
}
.navbar-brand {
    font-weight: bold;
    color: #343a40;
}
.navbar-brand:hover {
    color: #343a40;
}
.navbar-collapse {
    flex-grow: 0;
    flex-basis: auto !important;
    display: flex !important;
    justify-content: flex-end;
}
.navbar-nav {
    flex-direction: row !important;

}
.navbar-nav > li {
    margin-left: 10px;
    margin-right: 10px;
}
.nav-item {
    white-space: nowrap;
}
.button-icon-container {
    display: flex;
    align-items: center;
}
.button-icon-container a {
    margin-left: 10px;
}

.container {
    max-width: 1420px;
}

.navbar-hidden {
    transition: top 0.3s;
    top: -80px;
}