<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>post</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons CSS (optional) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Custom CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link th:href="@{/css/fragment/navbar-fragment.css}" rel="stylesheet" />
    <link th:href="@{/css/post.css}" rel="stylesheet" />

    <script th:src="@{/js/post.js}"></script>

</head>
<body>
    <div th:replace="~{fragment/navbar-fragment :: navbarFragment}"></div>

    <div class="container mt-5">
        <main>
            <div class="mb-4">
                <h1 th:text="${postDto.title}"></h1>
                <div class="post-info">
                    <span th:text="${postDto.user.username}"></span> •
                    <span th:text="${postDto.updatedAt != null ? postDto.updatedAt : postDto.createdAt}"></span>
                </div>
            </div>
            <div class="post-tags">
                <button th:each="tag : ${postDto.postTags}" type="button" class="btn btn-outline-secondary btn-sm" th:text="${tag.tag.name}"></button>
            </div>
            <div class="post-series" th:if="${postDto.series != null}">
                <span th:text="${postDto.series.name}"></span>
            </div>
            <div class="post-thumbnail" th:if="${postDto.thumbnailUrl != '/upload/null'}">
                <img th:src="${postDto.thumbnailUrl}" alt="Thumbnail">
            </div>
            <div class="post-content">
                <p th:utext="${postDto.content}"></p>
            </div>

            <div class="comment mt-5">
                <input type="hidden" name="postId" th:value="${postDto.id}">

                <input sec:authorize="isAuthenticated()" type="hidden" name="commentUserId" th:value="${#authentication.principal.getUserId()}" />
                <input sec:authorize="isAuthenticated()" type="hidden" id="currentUserId" th:value="${#authentication.principal.getUserId()}" />

                <div class="comment-write mb-3">
                    <textarea id="commentContent" class="form-control" rows="3" placeholder="댓글을 작성하세요..."></textarea>
                    <button id="submitComment" class="btn btn-primary mt-2">댓글 작성</button>
                </div>
                <div class="comment-list"></div>
                <nav aria-label="Page navigation example" class="mt-3">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" id="prevPage">이전</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" id="nextPage">다음</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </main>
    </div>

</body>
</html>