body {
    background-color: #ffffff;
    color: #000000;
}

main {
    margin: auto;
    padding: 20px;
    max-width: 800px;
}

main .container {
    padding-left: 20px;
    padding-right: 20px;
}

.modal-body .form-control {
    margin-bottom: 10px;
}

#passwordBtn.disabled {
    background-color: #6c757d; /* Gray background */
    color: #ffffff; /* White text */
    cursor: not-allowed;
}

.readonly {
    background-color: #dee2e6;
}