<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>홈페이지</h1>
    <!-- TODO 해결하기 -->
    <div sec:authorize="isAuthenticated()">
        <h2><span sec:authentication="name"></span></h2>
        <button th:if="${!hasBlog}" th:onclick="|location.href='@{/blogs/register}'|">블로그 개설</button>
        <button th:if="${hasBlog}" th:onclick="|location.href='@{/blogs/@[[${loginUser.id}]]}'|">내 블로그</button>
        <button th:onclick="|location.href='@{/logout}'|">로그아웃</button>
    </div>
    <div sec:authorize="isAnonymous()">
        <button th:onclick="|location.href='@{/users/register}'|">회원가입</button>
        <button th:onclick="|location.href='@{/login}'|">로그인</button>
    </div>

</body>
</html>